@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,700;1,800&family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{  font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/*Nav section*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding:15px 120px;
}

.navbar >div ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    
}
.navbar >div ul a{
    text-decoration: none;
    list-style: none;
}

.nav-icon{
    justify-content: space-around;
    padding-right: 50px;
}


/*banner Saction*/
.banner-Container{
    display: flex;
    padding:15px 120px;
    align-items: center;
    justify-content:center;
    justify-content: space-between;
    padding:15px 120px ;
}
.h1{
    font-size: 3rem ;
}

.first-btn{
    background-color: rgb(252, 0, 0);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
}

.main-cam{
background-image: url(./images/Circle\ design.svg)
}


/*mulit-logo-section*/
.Multi-logo-holder>div{
    border: 1px solid black;
    fill: linear-gradient(135deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
    justify-content: center;
    padding: 25px 50px;
    margin-right:180px;
    margin-left: 180px;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 100px;
    
}
.sppnsors-logo{
    padding-right: 45px;
}


/* card section*/
.card-heading{
   text-align: center;
   padding-bottom: 30px;

}
.card-holder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 230px;
    margin-right: 230px;
    gap: 20px;

}
.card-item{
    height: 470px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgb(227, 227, 227);
    padding:12px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.433);
    
    
}
/*fetured section*/
.fetured-holder{
    display:flex;
    margin: 90px 120px;
    align-items: center;
    gap: 85px;
}


.footer{
    text-align: center;
    margin: 50px 0px;
    background-color: black;
    color: white;
}

.footer-icon{
    color:white;
    background-color: aliceblue;
}



/*media-section for mobile*/
@media screen and (max-width: 576px){
    
    .navbar{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding:10px 10px ;
    }
    
    .navbar >div ul{
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        list-style: none;
}
.banner-Container{
    flex-direction: row-reverse;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding-top: 10px;
    text-align: center;
}
.main-cam{
    width:250px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}
 
.Multi-logo-holder>div{
    border: 1px solid black;
    fill: linear-gradient(135deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
    grid-template-columns: auto;
    padding: 10px;
    margin:10px;
    
}
.card-holder{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-content: margin;    
}
.card-item{
    height: 470px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgb(227, 227, 227);
    padding:12px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.433);
 }
 .fetured-holder{
    flex-direction: column;
    text-align: center;    
}

}